<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="container">
      <header>
        <ul class="nav">
          <li>
            <a href="/">home<small>where the heart is</small></a>
          </li>
          <li>
            <a href="/blog">personal blog<small>thoughts</small></a>
          </li>
          <li>
            <a href="https://www.opentagclosetag.com/">coding blog<small>thoughts: coding edition</small></a>
          </li>
        </ul>
      </header>
      {{ content | safe }}
      {% include "footer.njk" %}
    </div>
  </body>
</html>



